.aim-topbar {
    min-width: 360px;
    width: 100%;
    height: 50px;
    background-color: #2196f3;
    border-color: #ddd;
    position: relative;
    border-bottom-color: rgba(0, 0, 0, .1);
}

.aim-topbar:before, .aim-topbar:after, .aim-container:before, .aim-container:after {
    content: " ";
    clear: both;
    display: table;
}

.aim-topbar-nav {
    float: left;
    line-height: 50px;
}

.aim-topbar-nav li {
    float: left;
    position: relative;
    padding: 0 10px;
}

.aim-topbar-nav .aim-active a {
    background-color: rgba(0, 0, 0, .2);
}

.aim-topbar-nav li a {
    color: #fff;
    padding: 5px;
    border-radius: 5px
}

.aim-topbar-nav li a:hover {
    background-color: rgba(0, 0, 0, .2);
    padding: 5px;
    border-radius: 5px
}

.aim-topbar-right {
    float: right;
    line-height: 50px;
}

@media only screen and (min-width: 660px) {
    .aim-menu {
        display: none;
    }
}

@media only screen and (max-width: 660px) {
    .aim-menu {
        display: block;
        float: right;
        margin-top: 8px;
    }
    .aim-topbar-nav {
        width: 100%;
        display: none;
    }
    .aim-topbar-nav li {
        float: none;
        text-align: center;
        background-color: #2196f3;
        margin: 5px;
        border-radius: 5px
    }
    .aim-btn {
        display: none;
    }
}

@media only screen and (max-width: 1025px) and (min-width: 661px) {
    .aim-list li {
        width: 49%;
    }
}

@media only screen and (min-width: 1025px) {
    .aim-list li {
        width: 33.33%
    }
}

@media screen and (min-device-width:1000px) {
    .wrapper {
        width: 70%;
        margin: 0 auto
    }
    .cnt-3-1, .cnt-3-2, .cnt-3-3 {
        border-color: #66ceff;
        float: left
    }
    .cnt-3-2 input {
        text-indent: .5em
    }
    .cnt-3-1 {
        width: 17%
    }
    .cnt-3-2 {
        width: 70%;
        padding-left: 3%;
        padding-right: 3%
    }
    .cnt-3-3 {
        width: 13%
    }
    select.input-lg {
        text-align: center;
        text-align-last: center
    }
}

@media screen and (max-device-width:760px) {
    .wrapper {
        width: 95%;
        margin: 0 auto
    }
    .cnt-t2 iframe {
        height: 260px
    }
}

.wrapper {
    margin: auto;
    min-width: 360px;
    width: 95%;
    margin: 0 auto
}

.wrapper after, .wrapper:before {
    content: "";
    display: block;
    clear: both
}

.cnt-t2 iframe {
    background: #66ceff;
    height: 520px;
    width: 100%;
    margin: 0 auto
}